{{> head }}



{{> navbar }}

<div class="container">
    <div class="col-8">
        <h1>Meditacion</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quas quam optio cum ducimus odit delectus
            beatae corrupti, natus dolores expedita repellat architecto eum nostrum, iste minus. Excepturi, explicabo
            nisi.
        </p>
    </div>

    <div class="col-4">
        <img src="https://i.pinimg.com/474x/7c/84/0f/7c840f3b82296f4983edac9acdf23e59.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}